@import "./global";
@import "./mixins";
// ====================>>

.weatherAppBox {
  background-image: linear-gradient(-33deg, #c06bff, #00ff84);
  padding: 30px 40px;
  border-radius: 7px;
  color: white;

  .inPutAndBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    input {
      border: none;
      outline: none;
      padding: 10px 15px;
      border-radius: 20px;
      font-size: 16px;
    }

    button {
      cursor: pointer;
      border: none;
      outline: none;
      padding: 14px 15px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      @include btn();

      i {
        color: #888;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.3);
          color: #333;
        }
      }
    }
  }

  .weatherIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    #weatherImg{
      margin-bottom: 5px;
      font-size: 120px;
      width: 150px;
      height: 150px;
      color: white;
    }
    .temp {
      display: flex;
      align-items: center;
      justify-content: center;
      #tempText {
        font-size: 70px;
      }
      #span {
        font-size: 56px;
      }
    }

    #cityName {
      text-transform: uppercase;
      font-size: 25px;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
    }
    #wetherCondition {
      font-family: serif;
      letter-spacing: 0.2em;
      margin-bottom: 20px;
    }
  }

  .otherInformations {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Info {
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 10px;

      i {
        font-size: 23px;
      }

      #humidityText,
      #windText {
        font-size: 20px;
      }

      .nameType {
        font-size: 13px;
      }
    }
  }
}

//media =======================>>

@media screen and (max-width:400px){
    .container{
        .weatherAppBox{
            width: 100%;
            height: 100vh;

            .inPutAndBtn{
                input{
                    width: 100%;
                    height: 60px;
                    border-radius: 40px;
                    font-size: 22px;
                }

                button{
                    width: 70px;
                    height: 60px;

                    i{
                        font-size:25px;
                    }
                }
            }

            .weatherIcon{
                width: 100%;
                margin: 80px auto;

                #weatherImg{
                    width: 230px;
                    height: 230px;
                }

                .temp {
                    #tempText {
                      font-size: 120px;
                    }
                    #span {
                      font-size: 70px;
                    }
                  }
            }

            .otherInformations{
                i {
                    font-size: 30px;
                  }
            
                  #humidityText,
                  #windText {
                    font-size: 25px;
                  }
            
                  .nameType {
                    font-size: 18px;
                  }  
            }
        }
    }
}
